@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Subway Ticker";
  src: url("./assets/fonts/SubwayTickerGrid.ttf") format("truetype"),
    url("./assets/fonts/SUBWT___.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.subway-ticker-font {
  font-family: "Subway Ticker", monospace;
  font-weight: bold;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 2.5rem)); /* match your gap */
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 100s linear infinite;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  line-height: inherit;
}
